body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    text-decoration: none;
    background-color: #FFFFFF;
}
:root {
    --primary-dark-color: #2E2F42;
    --primary-black-color: #434455;
    --primary-blue-color: #4D5AE5;
    --primary-white-color:#FFFFFF;
    --primary-button-color:#404BBF;
    --primary-button-background: #F4F4FD;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color:var(--primary-blue-color);
}
.link{
    text-decoration: none;
        list-style: none;
}
.logo-studio {
    color: var(--primary-dark-color);
}
.list{
    list-style: none;
}
.link{
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
color:var(--primary-dark-color);
text-decoration: none;
}
.link:hover, .link:focus {
    color:var(--primary-button-color);
}
.header-adress {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    font-style: normal;
    text-decoration: none;
}
.hero-section{
    background-color:var(--primary-dark-color);
}
.hero-section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    background-color: var(--primary-dark-color);
text-align: center
}
.hero-button {
    background-color: var(--primary-blue-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--primary-white-color);
}
.hero-button:hover, .hero-button:focus{
    background-color:var(--primary-button-color);
}
.features-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-dark-color);
}
.features-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-dark-color);
    text-align: center;
}
.team-section {
    background-color: var(--primary-button-background);
}
.team-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-dark-color);
    letter-spacing: 0.02em;
}
.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-black-color);
    letter-spacing: 0.02em;
}
.footer{
    background-color:var(--primary-dark-color);
}




.header-adress:hover, .header-adress:focus{
    color:var(--primary-button-color);
}

.header-nav .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.67;
    color: var(--primary-dark-color);
    text-decoration: none;
    }

}
.header .list-item,
.header-adress .list-item, .features-section .list, .doing-section .list, .team-section .list, .card-list, .button-list {
    list-style-type: none;
}





.button-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.67;
    color: var(--primary-white-color);
}







.footer-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 0.67;
        color: var(--primary-white-color);
        background-color: var(--primary-dark-color);
}
.list {
    list-style: none;
}
.button-all {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-blue-color);
        background-color: var(--primary-button-background);
        cursor: pointer;
        font-family: "Roboto", sans-serif;
}
.button-site, .buttton-app, .button-design, .button-marketing {
        font-weight: 500;
        font-size: 16px;
        line-height: 0.67;
        letter-spacing: 0.04em;
        color: var(--primary-blue-color);
        background-color: var(--primary-button-background);
}
.card-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 0.83;
        letter-spacing: 0.02em;
        color:var(--primary-dark-color);
}
.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-black-color);
}
.hero-button:focus,.hero-button:hover, .button-list .li:focus, .button-list .li:hover {
    color: var(--primary-white-color);
}
a:focus, a:hover {
    color:var(--primary-blue-color)
}